<div class="container mt-5">
  <div class="form-group">
      <input name="" id="search" class="form-group" placeholder="Enter name">
  </div>
  <div id="match-list"></div>
  </div>


  <script>


    const search = document.getElementById('search');
    const matchList = document.getElementById('match-list');


    const searchStates = async searchText => {
        const res = await fetch('api/advance_payment')
        const states = await res.json();

        console.log(states)
    };

    search.addEventListener('input', () => searchStates(search.value));
    </script>